<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
<link href="/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script> 
<script type="text/javascript" src="/js/test.js"></script> 
</head>
%body
- @songdirs.each {|songdir| 
= songdir.to_html 	
- }

